@font-face {
    font-family: 'PlayfairDisplayBlack';
    src: url('./PlayfairDisplay-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PlayfairDisplayRegular';
    src: url('./PlayfairDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PoppinsRegular';
    src: url('./Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OPPOSansRegular';
    src: url('./OPPOSansRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OPPOSansBold';
    src: url('./OPPOSansBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PangMenZhengDaoBiaoTiTiMianFeiBan';
    src: url('./PangMenZhengDaoBiaoTiTiMianFeiBan-2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}