@font-face {
    font-family: 'SFProDisplaySemibold';
    src: url('./SF-Pro-Display-Semibold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplayRegular';
    src: url('./SF-Pro-Display-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplayBold';
    src: url('./SF-Pro-Display-Bold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrainsMonoBold';
    src: url('./JetBrainsMono-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CinzelBlack';
    src: url('./Cinzel-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}